{% extends 'base.html' %}
{% block title %}
<title>NASA HAckathon Project</title>

{% endblock %}

{% block body %}
<section class="container-fluid text-center bg-faded my-4">
    This Chart is Population vs Confirmed Cases<br>
    X-axis: Population<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="popvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Area vs Confirmed Cases<br>
    X-axis: Area<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="areavsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Density vs Confirmed Cases<br>
    X-axis: Density<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="denvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Active Cases vs Confirmed Cases<br>
    X-axis: Active<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="actvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Retail vs Confirmed Cases<br>
    X-axis: Retail<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="retvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Grocery vs Confirmed Cases<br>
    X-axis: Grocery<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="grovsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Parks vs Confirmed Cases<br>
    X-axis: Parks<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="parvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    This Chart is Stations vs Confirmed Cases<br>
    X-axis: Parks<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="stavsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    Workplaces vs Confirmed Cases<br>
    X-axis: Workplaces<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="worvsconf" ></canvas>
</section>

<section class="container-fluid text-center bg-faded my-4">
    Residential vs Confirmed Cases<br>
    X-axis: Residential<br>
    Y-axis: Confirmed
</section>
<section class="container">
    <canvas id="resvsconf" ></canvas>
</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}