{% extends 'base.html' %}
{% block title %}
<title>NASA Space HAckathon</title>

{% endblock %}
{% block body %}
<script>
  $(document).ready(function(){
  $("#panel").hide();
  $("#panel").show("slow");
});
</script>
<section class="container" id="flip">
<div class="card text-center" id="panel">
<img src="{{ url_for('static', filename='i1.jpg') }}" class="card-img-top" alt="head" style="height: 70vh;">
  <div class="card-body">
    <h2 class="card-title">Project Summary</h2>
    <p class="card-text"><h5>After running different machine learning models and algorithms,Here we came up with our final dataset and plotted 8 different graphs which help us to identify the hunan factors that may lead to the spread of COVID-19 .</h5></p>
    <a href="/graph" class="btn btn-primary">Show Graph</a>
  </div>
</div>
</section>

{% endblock %}